Навыки работы с Python/Django. Навыки работы с MySQL/Postgres, Redis. Навыки работы с HTML/CSS. Опыт работы с Linux...
Навыки обработки данных на Python и написания поддерживаемых оптимизированных скриптов. Мониторинг и оптимизация SQLзапросов. Опыт написания тестов. 
Опыт разработки сложных/нагруженных проектов. Работа с PyQt5. Знание SQL, ML/DL. Работа с Postgres и mongoDB. 
Уверенное знание Python и библиотек для работы с данными (numpy, pandas). Опыт создания моделей машинного обучения на TensorFlow, PyTorch и...
Python  на уровне middle разработчика. Опыта работы с фреймворками и библиотеками ML: Tensorflow, Keras или аналогами. Умения самостоятельно декомпозировать и...
Ищем ML / Python разработчика, имеющего хороший опыт коммерческой разработки. Необходима хорошая математическая подготовка. Ожидаем навыки работы с PostgreSQL, включая опыт...
Expert level in Python. Expert level in SQL. Experience in developing WEB applications. Ability to write clean code covered with...
Оптимизировать код. Пишешь на python уже минимум 2 года. У тебя есть опыт вывода в прод ML моделей и рефакторинга...
Высшее профильное образование. Умение разбираться в чужом коде. Опыт разработки сложных проектов. Опыт на python3 (pep8) от полугода...
Желательно участие в высоконагруженных проектах (10000 rps) с доступностью больше 99.9%. Желателен опыт DBA. Желателен опыт ML Ops.
Опыт создания масштабируемых приложений и обработки данных с использованием Python. Опыт обработки данных извлечения, преобразования и загрузки (ETL) с использованием...
Опыт администрирования Unixподобных ОС. Опыт написания скриптов для автоматизации (Bash, Python). Опыт администрирования вебсерверов, понимание протокола HTTP. 
Опыт разработки на iOS более 3 лет. Хорошо знаете Swift. Знаете как строить архитектуру приложений. Есть опыт написания писать тестов...
Опыт работы с трекингом объектов на видеопотоке. Опыт разработки MLалгоритмов для анализа различных данных. Знание Python и(или) C#. 
Хорошие знания асинхронных фреймворков на python (Tornado, Aiohttp). — Знание принципов и шаблонов проектирования API, компонентов и микросервисов, ООП. — 
Знание основных принципов функционирования IP сетей, базовых сетевых протоколов, стека протоколов TCP/IP. Знакомство с Python, Bash. Знание основ функционирования...
Техническое образование. Middle python developer. Middle AI developer (в основном генеративные нейросети). Опыт использования нейронных сетей для анализа аудиоданных. 
Что нужно уметь. Любишь писать красивый код.
Что нужно уметь. Любишь писать красивый код.
Code experience in Python JavaR, as well as an understanding of machine learning frameworks (like Keras or PyTorch) and libraries...
