Знание Kubernetes на уровне администратора. Глубокое знание сетевой модели OSI, TCP/IP стека. Опыт администрирования Unixподобных ОС. 
Опыт работы в ИТсфере на должности аналитика, project manager или product manager (от 3 лет) в реализации проектов по...
Высшее техническое образование с хорошей подготовкой в области математики и алгоритмов. Достаточно глубокое понимание хотя бы одной из областей искусственного...
Опыт разработки CVмоделей детектирования различных категорий объектов. Опыт работы с трекингом объектов на видеопотоке. Опыт разработки MLалгоритмов для...
Техническое образование. Опыт полного цикла разработки приложения (от анализа до публикации). Фундаментальный опыт в разработке под одну платформу (iOS/Android...
Техническое образование. Middle python developer. Middle AI developer (в основном генеративные нейросети). Опыт использования нейронных сетей для анализа аудиоданных. 
You should also have a strong understanding of data structures, data modeling and software architecture Deep knowledge of math, probability...
Опыт работы с облачными продуктами/AI. Понимание стека MLOps / DevOps, знание Kubernetes. Знание решений облачной инфраструктуры. Опыт разработки и поддержки...
Основы линейной алгебры, математического анализа, теории вероятностей, математической статистики. Знание основных алгоритмов машинного обучения и умение их применять.  
Высшее техническое образование с хорошей подготовкой в области математики и алгоритмов (неоконченное высшее тоже обсуждаемо). Достаточно глубокое понимание хотя бы...
Библиотеки Python  pytorch, pytorchlightning, pandas, numpy и т.д. Структуры данных и алгоритмы. Хорошая подготовка в области теории вероятностей...
Minimum 3 years of experience in product management and/or engineering. Prior management of software development cycle is a must. 
Minimum 3 years of experience in product management and/or engineering. Prior management of software development cycle is a must. 
Опыт работы в роли менеджера контроля качества в КЦ, супервайзера КЦ, тренера в КЦ, телесейла. Владение метриками и процессами в...
Знание Kubernetes на высоком уровне. Глубокое знание сетевой модели OSI, TCP/IP стека. Опыт администрирования Unixподобных ОС. 
Minimum 3 years of experience in product management and/or engineering. Prior management of software development cycle is a must. 
Опыт коммерческой разработки на Python от 3 лет. Знание сильных сторон и особенностей Python. Хорошая алгоритмическая подготовка, понимание классических алгоритмов...
Minimum 3 years of experience in product management and/or engineering. Prior management of software development cycle is a must. 
Практический опыт создания моделей машинного обучения в областях рекомендательных моделей/семантического анализа/анализа пользовательского поведения.  Уверенный SQL для самостоятельного доступа...
Качественное высшее образование в ведущем ВУЗе, желательно STEM профиля, знание английского языка (разговор, чтение технических текстов, основы деловой переписки). 
