Опыт работы с Django, DjangoCMS. Знание Python, PHP. Знание HTML5, CSS3.
Готовы рассмотреть студентов последнего курса и выпускников. Знание C# и/или Python. Базовые знания по работе с БД (SQL/NOSQL). 
Знаешь Python, умеешь обрабатывать данные с помощью pandas, NumPy и Plotly. Есть опыт работы с SQL. Есть опыт работы с...
Умение писать асинхронный код. Умение работы с PostgreSQL из Python. Умение работы с RabbitMQ из Python (желательно).
Отличное знание языка Python (3.7), опыт промышленной разработки от 3х лет. Навыки написания юниттестов (py.test, mock и...
Опыт коммерческой разработки, работы с высоконагруженными системами. Круто, если вы умеете проектировать быстрые решения и запускать их в сжатые сроки. 
Уверенное владение С и готовность на нём разрабатывать (от 4 лет опыта). Навыки проектирования распределённых решений или опыт оптимизаций на...
Базовое знание синтаксиса Python. Опыт работы с Flask, FastAPI.
опыт разработки на Python 2 и 3 от 3х лет.  занине SQL и есть опыт работы с PostgreSQL.  
Необходимы знания: Python 3.7, asyncio. Приветствуются:
Опыт в рефакторинге, декомпозиции, построении модульных приложений. Знание git. Опыт работы с SQL (желательно с PostgreSQL). Python 3.8. Flask. 
Владение Python 3. Знание SQL (PostgreSQL). Опыт написания rest api. Умение работать с Gitсистемами (GitLab, bitbucket, etc.). 
Навыки работы с Python/Django. Навыки работы с MySQL/Postgres, Redis. Навыки работы с HTML/CSS. Опыт работы с Linux...
Отличная практика и работа с Python хотя бы 2 года разработки. Где не вас надо учить, а вы сами кого...
Работал с Python 3, вебфреймоворками (Flask, Django). Знает классические алгоритмы и структуры баз данных, сортировки. Преимуществом будет опыт работы...
Уверенное знание python3. Знание сетевых протоколов HTTP, WebSocket. Продвинутое знание Django (Django REST Framework). Знание SQL, опыт работы с...
Имеет коммерческий опыт разработки вебсервисов на Python от 3х лет. Понимает принципы построения отказоустойчивых систем. Будет идеально, если...
Технический английский. Желательно:
Уверенное знание python django, работа с gitlab, jira, postgresql. Понимание REST, websocket, паттернов проектирования, чтение стандартных схем и диаграмм (например...
Знание и опыт применения одной из Python библиотек для обработки изображений (желательно OpenCV, можно: scikitimage и т.д.). 
