Технический английский. Желательно:
Опыт программирования на Python (Django, Pandas) от 1 года. Знание PostgreSQL, MySQL и умение работать с базами данных. 
Требуемый опыт работы: 1–3 года. Готовы рассмотреть студентов последнего курса и выпускников. Знание C# и/или Python. 
Требуемые навыки: Опыт работы c Python от 1 года. Опыт работы c Django от 1 года. Опыт работы с SQLlite...
Опыт работы Python разработчиком от 1х года. Опыт работы с API для мобильных приложений. Опыт разработки серверных приложений на...
Хорошее знание языка Python, опыт промышленной разработки от 3х лет. Опыт работы в Agile командах  Kanban, Scrum, ежедневные стэндапы. 
Хорошее знание языка Python, опыт промышленной разработки от 3х лет. Опыт работы в Agile командах  Kanban, Scrum, ежедневные стэндапы. 
Разрабатывал на Python не менее 3х лет. Оптимизировал Django_ORM или SQLAlchemy. Имел опыт интеграций и работы с web...
опыт разработки на Python 2 и 3 от 3х лет.  занине SQL и есть опыт работы с PostgreSQL.  
Необходимы знания: Python 3.7, asyncio. Приветствуются:
Опыт использования ОС Linux/Debian/Ubuntu. Знание Python 3. Хорошая алгоритмическая база и знание архитектурных паттернов ПО. Опыт использования ОС...
Знание Python 3.6, Django2  DRF, Celery, RabbitMQ, PostgreSQL. Опыт разработки Backend. Работа с *nix ОС. Знание Docker. 
Опыт работы не менее года.  Знание Python 3.  Понимание структур данных и базовых алгоритмов.  Понимание принципов ООП.  Опыт разработки с...
Отличные знания Python. Высокий уровень знаний Django. Разнообразный опыт работы с asyncio, aiohttp. Большой опыт разработки высоконагруженных и распределенных систем. 
Мы хотим видеть в своей команде опытного специалиста, желающего развиваться в области разработки торговых систем и приложений, работающих с биржевой...
Знание Python 3.6, вебфреймоворков (Flask или Django), ORM (SQLAlchemy или Django_ORM). Опыт работы c ОС Linux. 
можешь работать 40 часов в неделю.  имеешь желание построить карьеру в разработке в одной из самых быстрорастущих ecomкомпаний.  
Мы ждем опыт работы от 2 лет. Знание core Python (Python3.x). Знание и опыт работы с фреймворками Django...
Уверенное знание python django, работа с gitlab, jira, postgresql. Понимание REST, websocket, паттернов проектирования, чтение стандартных схем и диаграмм (например...
Необходимы знания: Python 3.7, asyncio. Приветствуются:
